.flexProperties
.metadata
.settings
workspace.xml
tasks.xml
*.iws
.idea
node_modules
bin/*
npm-debug.log
*.orig
*.DS_Store
flash/bin/*
flash_tests/bin-debug/*
flash_tests/bin-test/*
flash_tests/flexunit-output/*
flash_tests/linkReport.xml
flash_tests/TEST-*.xml
config.js
sauce_connect.log
sauce_connect.log.*
html5/src/smart-player/constants/templates.js
bower_components
vendor_components